<%= link_to roadwork_path(roadwork) do %>
  <div class="card-roadwork">
    <%= image_tag roadwork.banner_url %>
    <div class="card-roadwork-infos">
      <div>
        <h2><%= roadwork.name %></h2>
      </div>
    </div>
  </div>
<% end %>


